body{
	width:80%;
	margin:auto;
}

h1{
	text-align:center;
	font-size:40px;
	font-weight:bold;
	margin-top:10px;
}

p{
	text-align:justify;
	font-style:italics;
	font-size:20px;
	font-variant:small-caps;
}

#maha{
	width:48%;
	float:left;
}

#image{
	width:50%;
	float:right;
}

#maha dl dt{
	color:black;
	font-weight:bold;
	font-size:20px;
	font-style:italic;
}

#maha dl dd{
	color:black;
	font-weight:normal;
	font-size:15px;
	font-style:italic;
}

#image img{
	width:100%;
	height:384px;
}

#para{
	float:left;
}

#links{
	background-color:#85929E;
	text-align:center;
	padding:20px;
	font-size:30px;
}

#kauravas{
	text-align:center;
}
